/* globally style liyanne meeke */

/* index eke body ekata adala style */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* you can add more genaric styles here */
h1{
@apply text-center text-cyan-700 pt-4 italic lg:text-4xl font-bold underline underline-offset-1 animate-bounce;

}

h2{

}
}
